@using inzibackend.Surpath

<link rel="stylesheet" href="~/view-resources/Areas/App/Views/Shared/Components/AppLegalDocumentFooter/AppLegalDocumentFooter.css" asp-append-version="true" />

<div id="legal-documents-footer" class="legal-documents-footer d-none">
    <div class="d-flex justify-content-center">
        <a href="#" target="_blank" id="terms-of-service-link" class="legal-document-link mx-2 d-none">@L("TermsOfService")</a>
        <a href="#" target="_blank" id="privacy-policy-link" class="legal-document-link mx-2 d-none">@L("PrivacyPolicy")</a>
    </div>
</div> 