@using inzibackend.Web.Areas.App.Models.Common.Modals
@model ModalHeaderViewModel
<div class="modal-header">
    <h5 class="modal-title">
        <span>@Html.Raw(Model.Title)</span>
    </h5>
    <h6 class="modal-subtitle">
        <span></span>
    </h6>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
</div>
