<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>

    <!--Development Server-->
    <!--<add key="ConnectionString" value="server=10.94.0.221;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->

    <!--Local Development Server-->
    <add key="ConnectionString" value="server=127.0.0.1;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive; convert zero datetime=True" />

    <!--Development Server with Monitoring-->
    <!--<add key="ConnectionString" value="server=10.94.0.221;port=4040;Username=surpath;Password=z24XrByS1;database=SurPathlive" />-->

    <!--Production Server-->

    <!--<add key="ConnectionString" value="server=10.94.0.220;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Culture" value="en-US" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpFromAddress" value="surpathalert@gmail.com" />
    <add key="SmtpFromAddressPassword" value="7MQBV3ky" />
    <add key="XSLTPath" value="C:\xslt\" />
    <add key="MailerHeaderLogo" value="http://surscan.com/images/SurScan-Logo.png" />
    <add key="MailerHeaderLogoBC" value="http://surscan.com/images/SurBackgroundScreenLogo.jpg" />
    <!-- Registration & Forgot Password Mailer - Begins -->
    <add key="ActivationLink" value="http://localhost:49543/Authentication/Activation/" />
    <add key="RegistrationMailSubject" value="SurScan Registration Details" />
    <add key="ForgotPasswordMailSubject" value="SurScan - New Password" />
    <add key="PaymentConfirmationMailSubject" value="SurScan - Payment Confirmation" />
    <!-- Registration & Forgot Password Mailer - Ends -->
    <!-- Program Registration - Begins -->
    <add key="ProgramRegistraionMailSubject" value="SurScan - New Program Registered" />
    <add key="TPAProgramToMailAddress" value="surpathalert@gmail.com" />
    <add key="PaymentConfirmationMailSubject" value="SurScan - Payment Confirmation" />
    <!-- Program Registration - End -->
    <!-- Super Admin Roles - Begins -->
    <add key="SuperAdmin" value="admin" />
    <add key="SuperAdmin1" value="David" />
    <add key="SuperAdmin2" value="Tim" />
    <!-- Super Admin Roles - End -->
    <add key="BoID" value="763" />
    <add key="UseTestGateway" value="True" />
    <add key="ProdLoginName" value="jonjackson" />
    <add key="ProdPassword" value="%LCFr@4VMLr5nP4-ve6UQ4-5d%6" />
    <add key="TestLoginName" value="jonjackson" />
    <add key="TestPassword" value="%LCFr@4VMLr5nP4-ve6UQ4-5d%6" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Production" value="false" />
    <add key="TestEmailAddress" value="chris@inzi.com" />
    <add key="SMSNotifications" value="true" />
    <add key="SMSNotificationText" value="Greetings Student, You have been sent a Drug Testing Order via email you gave for your school, check your spam &amp; junk mail as well -SurScan" />
    <add key="TestPhone" value="2148019441" />
    <add key="NotificationEmailTemplate" value="default_backend_email_template.xslt" />
    <add key="RunInterval" value="20" />
    <add key="AllFilesFolder" value=".\AllFiles" />

    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="report_info-{Date}.txt" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="serilog:minimum-level" value="Debug" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
