<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <appSettings>
    <!-- Connection string (same format as HL7ParserService) -->
    <add key="ConnectionString" value="server=127.0.0.1;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive;convert zero datetime=True" />
    
    <!-- HL7Stage Configuration -->
    <add key="StageFilesFolder" value="C:\SurPathReports\SurPathReports\StageFiles\" />
    <add key="LabReportFilePath" value="C:\SurPathReports\SurPathReports\CRL\" />
    <add key="MROReportFileInboundPath" value="C:\SurPathReports\SurPathReports\MRO\Inbound\" />
    
    <!-- Make sure this is set to allow stage generation -->
    <add key="Production" value="false" />
    
    <!-- Required Culture setting -->
    <add key="Culture" value="en-US" />
    
    <!-- MisMatch settings -->
    <add key="MisMatchAssignToClient" value="true" />
    <add key="MisMatchDefaultClientID" value="111" />
    <add key="MisMatchDefaultClientDepartmentID" value="380" />
    
    <!-- Logging settings -->
    <add key="LogFilePath" value="C:\Logs\" />
    <add key="LogFileEmailTo" value="admin@example.com" />
    
    <!-- Email settings (required by some components) -->
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpFromAddress" value="notify@example.com" />
    <add key="SmtpFromAddressPassword" value="" />
    <add key="FromAddress" value="notify@example.com" />
    <add key="ToAddress" value="admin@example.com" />
    <add key="LogToAddress" value="admin@example.com" />
    <add key="UserID" value="notify@example.com" />
    <add key="Password" value="" />
    <add key="ReplyTo" value="admin@example.com" />
    <add key="MissMatchedReportsMail" value="admin@example.com" />
    <add key="MissMatchedReportSubject" value="No matching donor specimen ID for report sent" />
    
    <!-- Other potentially required settings -->
    <add key="MailFormat" value="C:\MailTemplates\" />
    <add key="ProductLogo" value="C:\MailTemplates\Logo.png" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>