.flex-basis-5 {
    flex-basis: 5%;
}

.flex-basis-10 {
    flex-basis: 10%;
}

.flex-basis-15 {
    flex-basis: 15%;
}

.flex-basis-20 {
    flex-basis: 20%;
}

.flex-basis-25 {
    flex-basis: 25%;
}

.flex-basis-30 {
    flex-basis: 30%;
}

.flex-basis-35 {
    flex-basis: 35%;
}

.flex-basis-40 {
    flex-basis: 40%;
}

.flex-basis-45 {
    flex-basis: 45%;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.flex-basis-55 {
    flex-basis: 55%;
}

.flex-basis-60 {
    flex-basis: 60%;
}

.flex-basis-65 {
    flex-basis: 65%;
}

.flex-basis-70 {
    flex-basis: 70%;
}

.flex-basis-75 {
    flex-basis: 75%;
}

.flex-basis-80 {
    flex-basis: 80%;
}

.flex-basis-85 {
    flex-basis: 85%;
}

.flex-basis-90 {
    flex-basis: 90%;
}

.flex-basis-95 {
    flex-basis: 95%;
}


.usermenu-profilepic-container {
    /* Adjust the width and height as needed, should be equal for a perfect circle */
    width: 30px;
    height: 30px;
    border-radius: 50%; /* This creates the circular shape */
    overflow: hidden; /* Ensures the image does not overflow the circular shape */
    display: inline-block; /* Adjust as necessary to fit your layout */
    /* box-shadow: 0 0 15px rgba(0,0,0,0.2);*/ /* Adjust for desired softness and color */
    /* Optional: Center the image if it's not filling the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

    .usermenu-profilepic-container img {
        /* Ensures the image covers the circular area. Adjust as necessary. */
        max-width: 30px;
        height: 30px;
    }

.user-top-menu-card {
    top: 0px;
    left: 12px;
    width: 208px;
    height: 56px;
    background-color: #e5e5e5;
    border-radius: 12px;
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
    padding: 12px;
    padding-left: 30px;
}

.user-top-menu-card-name {
    color: #030303;
    font-size: 16px;
    font-family: "Manrope";
    font-weight: 500;
    line-height: 21px;
}

.user-top-menu-card-email {
    color: #030303;
    font-size: 12px;
    font-family: "Manrope";
    line-height: 16px;
}

.theme-theme0-page-container {
    padding-left: 0px !important;
}

.menu-vertical-spacer {
    height: 100%;
    margin-bottom: -200px;
    background-color: #b6ff00;
}

.menu-vertical-bottom {
    height: 5em;
}
.slot-modal-slot-id {
    font-weight: bold;
    font-size: 1.4em;
}

.slot-modal-label-box {
    font-weight: bolder;
    font-size: 1.2em;
    display: flex;
}

.slot-modal-date-time-input {
    width: 112px;
    height: 36px;
    padding: 0px 8px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
    line-height: 19px;
    text-align: center;
    outline: none;
}

#kt_toolbar {
    padding-top: 2em !important;
}

.form-check.form-check-custom {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

/*body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}*/

/*


.slot-modal-container {
    display: flex;
    flex-direction: column;
    padding: 20px;  

}

.slot-modal-header {
    text-align: center;
    margin-bottom: 20px;
}

.slot-modal-slot-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}


.slot-modal-available-slots {
    text-align: right;
}

.slot-modal-slots-number {
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    padding: 2px 8px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.slot-modal-rotation-form {
    display: flex;
    flex-direction: column;
}

.slot-modal-form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.slot-modal-form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

    .slot-modal-form-group label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #555;
    }

    .slot-modal-form-group input[type="date"],
    .slot-modal-form-group input[type="time"],
    .slot-modal-form-group input[type="number"],
    .slot-modal-form-group select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.slot-modal-days-of-week {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slot-modal-days-labels, .slot-modal-days-checkboxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .slot-modal-days-labels label {
        flex: 1;
        text-align: center;
    }

    .slot-modal-days-checkboxes input[type="checkbox"] {
        flex: 1;
        margin: 0;
        width: 20px;
        height: 20px;
    }

.slot-modal-form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.slot-modal-cancel-button, .slot-modal-save-button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
}

.slot-modal-cancel-button {
    background-color: #ccc;
}

.slot-modal-save-button {
    background-color: #4CAF50;
}
.slot-modal-left-column, .slot-modal-right-column {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}


@media (max-width: 768px) {
    .slot-modal-form-row {
        flex-direction: column;
    }

    .slot-modal-form-group {
        width: 100%;
        margin-bottom: 15px;
    }
}
*/

.slot-modal-container {
}

.slot-modal-container-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.slot-modal-container-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
}

.slot-modal-container-row-50 {
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
}

.slot-modal-container-column-50 {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}

.theme0-flex-15p {
    flex: 0 0 15%;
}

.theme0-flex-25p {
    flex: 0 0 25%;
}
.theme0-flex-40p {
    flex: 0 0 40%;
}
.theme0-flex-50p {
    flex: 0 0 50%;
}
.theme0-flex-75p {
    flex: 0 0 75%;
}




.slot-modal-header {
    text-align: center;
    margin-bottom: 20px;
}

.slot-modal-slot-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.slot-modal-rotation-form {
    display: flex;
}

.slot-modal-left-column, .slot-modal-right-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
}


    .slot-modal-form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

.slot-modal-days-of-week {
    display: flex;
    justify-content: space-between;
}

.slot-modal-form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.slot-modal-cancel-button, .slot-modal-save-button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
}

.slot-modal-cancel-button {
    background-color: #ccc;
}

.slot-modal-save-button {
    background-color: #4CAF50;
}

@media (max-width: 768px) {
    .slot-modal-rotation-form {
        flex-direction: column;
    }

    .slot-modal-left-column, .slot-modal-right-column {
        flex-basis: 100%;
    }
}

.slot-modal-days-of-week {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slot-modal-days-labels, .slot-modal-days-checkboxes {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

    .slot-modal-days-labels label {
        flex: 1;
        text-align: center;
    }

    .slot-modal-days-checkboxes input[type="checkbox"] {
        flex: 1;
        margin: 0;
        /* Adjust the checkbox size as needed */
        width: 20px;
        height: 20px;
    }

.slot-modal-dropdown {
    cursor: pointer;
    width: 112px;
    height: 36px;
    padding: 0px 8px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
    background-color: #ffffff;
    text-align: center;
    outline: none;
}

.theme0-stepper {
    top: 237px;
    left: 851px;
    width: 75px !important;
    height: 36px;
    padding: 0px 8px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 24px !important;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08) !important;
    text-align: center;
    outline: none;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.px-6rem {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
}

.px-7rem {
    padding-right: 7rem !important;
    padding-left: 7rem !important;
}

.slot-modal-container .check {
    display: none;
    transition: left 0.3s ease;
    z-index: 1;
}

.theme0-content {
    background-color: #f0f0f0;
    border-radius: 24px;
}

.theme0-content-card {
    border-radius: 24px !important;
}

.aside.aside-light {
    background-color: #fafafa;
}
body {
    background-color: #ffffff !important;
}
#kt_header_nav {
    flex: 1 1 100%;
}

.header-nav-search input,
.header-nav-search button {
    height: 32px;
}
.header-nav-search input {
    /*    top: 30px;
    left: 231px;
    width: 545px;*/
    /*height: 48px;*/
    /*padding: 0px 8px;*/
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
    /*background-color: #ffffff;*/
    /*color: #1b1b1b;*/
    /*  font-size: 15px;
    font-family: "Montserrat";
    font-weight: 500;*/
    /*line-height: 24px;*/
    outline: none;
}

.theme0-content-button {
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
    outline: none;
}

.header-nav-search button {
    font-size: 12px;
}

.theme0-bg-add {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: rgba(42,112,209,0.7);
}

.theme0 .modal-dialog button, .theme0 .content button {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius: 24px;
    border: 1px solid #dddddd;
    outline: none;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
}


.theme0 .theme0-add-new button {
    cursor: pointer;
    /*    top: 32px;
    left: 938px;
    width: 162px;*/
    /*height: 48px;*/
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    /*    background-color: rgba(42,112,209,0.7);*/
    color: #ffffff;
    line-height: 20px;
    outline: none;
}

.theme0-filter-button {
    cursor: pointer;
/*    top: 133px;
    left: 529px;*/
    width: 167px;
    height: 36px;
    padding: 0px 8px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
    background-color: #ffffff;
    color: #1b1b1b;
/*    font-size: 13px;
    font-family: "Montserrat";
    font-weight: 600;*/
    line-height: 17px;
    text-align: center;
    outline: none;
}
.theme0 input[type="checkbox"].theme0-chk-sm {
    flex: 1;
    margin: 0;
    width: 16px !important;
    height: 16px !important;
}

.theme0 input[type="checkbox"] {
    flex: 1;
    margin: 0;
    width: 20px;
    height: 20px;
}


.theme0 .theme0-btn-select-action {
    cursor: pointer;
    height: 24px;
    width: 120px;
    padding: 0px 0px;
    border: 1px solid #1b1b1b;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: rgba(183,202,246,0.41) !important;
    color: #1b1b1b;
    line-height: 16px;
    outline: none;
}
