<div id="SurpathCohortComplianceWidget" class="card card-custom SurpathCohortComplianceWidgetContainer h-100">
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark"><span class="widget_display_departmentName">Department</span> Cohort Compliance</span>
        </h3>
        <div class="card-toolbar">
            <button id="open-widget-filters-btn" class="open-widget-filters-btn btn btn-outline-brand btn-sm btn-icon btn-icon-md">
                <i class="ki ki-bold-more-hor"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="WidgetComplianceTable" class="compliance-widget-table table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                <thead>
                <tr>
                    <th>Cohort</th>
                    <th>Description</th>
                    <th>Overall Compliance</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
