@* Surscan Working Filter*@
<div class="form-group filter-surpath-department-container">
    <div class="input-group">
        <input type="text" class="form-control" name="input-surpath-department" placeholder="@L("SearchWithThreeDot")">
        <div class="input-group-append">
            <button class="btn btn-primary" name="btn-surpath-department" type="button">Go!</button>
        </div>
    </div>
</div>