@{
    ViewBag.Title = "SurScan - Change Password";
    Layout = "~/Views/Shared/_LayoutRegistration.cshtml";
}

@section PageScript
{
    <script type="text/javascript">
        $(function () {
            if ("@ViewBag.ServerErr" != "") {
                $("#divServerErr").show().find("div").html("@ViewBag.ServerErr");
            }
        });
    </script>
}

@{using (Html.BeginForm())
{
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-6">
            <div style="display:none" class="alert alert-danger" role="alert" id="divServerErr">
                <i class="fa fa-exclamation-triangle fa-1x"></i> @ViewBag.ServerErr
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Registration</div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-sm-offset-5">
                        <div class="text-success"><i class="fa fa-check-circle-o fa-4x"></i></div>
                    </div>
                    <div class="col-sm-12 col-sm-offset-4">
                        <div class="text-success"><h2>SUCCESS!</h2></div>
                    </div>
                    <div class="col-sm-10 col-sm-offset-2">
                        <h4 class="text-primary"> Your password is Changed successfully.</h4>
                    </div>
                    <div class="row top-buffer"></div>
                    <div class="row top-buffer"></div>
                    <div class="row">
                        <div class="col-sm-3 col-centered">
                            <input type="button" id="login" value="Login" class="btn btn-primary" onclick="window.location='@Url.Action("Login","Authentication")'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-buffer"></div>
    <div class="row top-buffer"></div>
}
}