<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="PDFEngine">
      <section name="PDFEngineSettings" type="System.Configuration.AppSettingsSection" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="ConnectionString" value="server=sql.surpath.com;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->
    <add key="ConnectionString" value="server=127.0.0.1;port=3310;Username=surpath;Password=z24XrByS1;database=surpathlive; convert zero datetime=True" />
    <add key="Culture" value="en-US" />
    <add key="LogFilePath" value="C:\Logs\" />
    <add key="LogFileEmailTo" value="chris@inzi.com" />

    <!-- Email Settings-->

    <add key="MissMatchedReportsMail" value="chris@inzi.com" />
    <add key="MissMatchedReportSubject" value="No matching donor specimen ID for report sent" />
    <add key="MailFormat" value="D:\HL7_Engine\MailTemplates\" />
    <add key="MailFormat" value="D:\APPENGINES\HL7_Engine\MailTemplates\" />
    <add key="ProductLogo" value="D:\APPENGINES\HL7_Engine\MailTemplates\Surscan-Application-Logo.png" />

    <!--<network enableSsl="true" host="smtp.office365.com" port="587" userName="notify@surscan.com" password="rock@water30" />-->
    <add key="FromAddress" value="surpathalert@gmail.com" />
    <!--   <add key="ToAddress" value="david@surscan.com,tim@surscan.com" /> -->
    <add key="ToAddress" value="chris@inzi.com" />
    <add key="LogToAddress" value="chris@inzi.com" />
    <!--<add key="UserID" value="surpathalert@gmail.com" />-->
    <add key="UserID" value="notify@surscan.com" />
    <!--<add key="Password" value="7MQBV3ky" />-->
    <add key="Password" value="rock@water30" />
    <add key="ReplyTo" value="david@surscan.com" />
    <add key="SMTPPort" value="587" />
    <!--<add key="SMTPHost" value="smtp.gmail.com" />-->
    <add key="SMTPHost" value="smtp.office365.com" />
    <add key="EnableSSL" value="Yes" />

    <!--<network enableSsl="true" host="smtp.office365.com" port="587" userName="notify@surscan.com" password="rock@water30" />-->
    <!-- End Email Settings-->

    <add key="IsDonorReverseEntryWithTestInfo" value="true" />
    <add key="CreateAllMismatchDonors" value="true" />
    <add key="IsAutoMatchTestInfo" value="true" />
    <add key="IsTestInfoReverseEntry" value="true" />
    <add key="DaysToAutoMatch" value="700" />
    <!-- originally set to 5-->
    <add key="DoFTP" value="true" />
    <add key="IsManualInteraction" value="true" />

    <add key="MissMatchedPdfPassword" value="$ur$can2030" />
    <add key="MisMatchAssignToClient" value="true" />
    <add key="MisMatchDefaultClientID" value="111" />
    <add key="MisMatchDefaultClientDepartmentID" value="380" />

    <add key="LabFTPHost" value="127.0.0.1" />
    <add key="LabFTPUsername" value="SURSFTP" />
    <add key="LabFTPPassword" value="Mb72qwTb" />
    <add key="LabFTPPort" value="22" />
    <add key="LabReportFTPPath" value="/home/SURSFTP/CRL" />
    <add key="LabReportFilePath" value="C:\SurPathReports\SurPathReports\CRL\" />

    <add key="questFTPHost" value="127.0.0.1" />
    <add key="questFTPUsername" value="quest" />
    <add key="questFTPPassword" value="Qu3st174!" />
    <add key="questFTPPort" value="22" />
    <add key="questReportFTPPath" value="/home/quest" />
    <add key="questReportFilePath" value="C:\SurPathReports\SurPathReports\quest\" />

    <add key="MROFTPHost" value="127.0.0.1" />
    <add key="MROFTPUsername" value="SURSFTP1" />
    <add key="MROFTPPassword" value="CTvBEDkt" />
    <add key="MROFTPPort" value="22" />
    <add key="MROReportFTPInboundPath" value="/home/SURSFTP1/MRO/Inbound" />
    <add key="MROReportFTPOutboundPath" value="/home/SURSFTP1/MRO/Outbound" />
    <add key="MROReportFileInboundPath" value="C:\SurPathReports\SurPathReports\MRO\Inbound\" />
    <add key="MROReportFileOutboundPath" value="C:\SurPathReports\SurPathReports\MRO\Outbound\" />

    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs2\HL7Parser-{Date}.txt" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="serilog:minimum-level" value="Debug" />
    
    
    <!-- Parser Settings-->
    <!-- not implemented yet, but this is to help the parser ignore unsupported file types during downloadfiles function-->
    <add key="SupportedFileExtensions" value=".rpt, .pdf, .hl7, .pdf, .res" />
    <add key="DryRun" value="true" />
    <add key="ShowPidInLog" value="false" />
    <add key="VerbosePidHelper" value="false" />
    <add key="MRONoContactStrings" value="NON-CONTACT POSITIVE,NO CONTACT Positive" />
    
    <!--Backend Settings-->
    <add key="AllFilesFolder" value=".\AllFiles" />
    <add key="JsonParserMasks" value="PIDTypes.json" />
	  <!-- Document Folder-->
	  <add key="DocumentPath" value="C:\surpathdocs\" />
  </appSettings>
  <PDFEngine>
    <PDFEngineSettings>
      <!--<add key="PDFTemplateFolder" value=".\Templates" />-->
      <add key="DefaultTemplate" value="Drug Screen Notificaiton Letter - Template.pdf" />
      <!--<add key="PDFConfigFolder" value=".\PDFConfig" />-->
      <add key="DefaultRenderSettingsFile" value="Default Render Settings.json" />
      <add key="BCC" value="" />
      <add key="SendAllTo" value="" />
      <add key="MaxResults" value="3" />
      <add key="TopOfList" value="300" />
      <add key="LeftOfList" value="75" />
      <add key="MaxListHeight" value="400" />
      <add key="MaxListWidth" value="450" />
      <add key="FontName" value="Ariel" />
      <add key="FontSize" value="12" />
      <add key="DrawBox" value="false" />
      <add key="BoxPadding" value="10" />
      <add key="MROName" value="RANDY BARNETT DO" />
      <add key="JSON_PDF_Services_To_Test_Mapping" value="{&quot;UA&quot;:&quot;UA Drug Screening (Collection Only)&quot;}" />
    </PDFEngineSettings>
  </PDFEngine>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>