<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Surpath.Formfox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Surpath.Formfox.Properties.Settings>
            <setting name="Surpath_Formfox_com_formfox_www_FFOrderSvc" serializeAs="String">
                <value>https://www.formfox.com/ffordersvc/v2/ffordersvc.asmx</value>
            </setting>
            <setting name="Surpath_Formfox_com_formfoxtest_www_FFOrderSvc"
                serializeAs="String">
                <value>http://www.formfoxtest.com/ffordersvc/v2/ffordersvc.asmx</value>
            </setting>
        </Surpath.Formfox.Properties.Settings>
    </applicationSettings>
</configuration>