CREATE TABLE test_categories (
test_category_id INT PRIMARY KEY AUTO_INCREMENT, 
test_category_name VARCHAR(200) NOT NULL, 
internal_name VARCHAR(200) NOT NULL, 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE test_types (
test_type_id INT PRIMARY KEY AUTO_INCREMENT, 
test_type_name VARCHAR(200) NOT NULL, 
test_category_id INT REFERENCES test_categories(test_category_id), 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE drug_names (
drug_name_id INT PRIMARY KEY AUTO_INCREMENT, 
drug_name VARCHAR(200) NOT NULL, 
drug_code VARCHAR(200) NOT NULL, 
ua_screen_value VARCHAR(10), 
ua_confirmation_value VARCHAR(10), 
hair_screen_value VARCHAR(10), 
hair_confirmation_value VARCHAR(10), 
unit_of_measurement VARCHAR(25), 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE drug_names_categories (
drug_name_categories_id INT PRIMARY KEY AUTO_INCREMENT, 
drug_name_id INT NOT NULL REFERENCES drug_names(drug_name_id), 
test_category_id INT NOT NULL REFERENCES test_categories(test_category_id), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE departments (
department_id INT PRIMARY KEY AUTO_INCREMENT, 
department_name VARCHAR(200) NOT NULL, 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE courts (
court_id INT PRIMARY KEY AUTO_INCREMENT, 
court_name VARCHAR(200) NOT NULL, 
court_address_1 VARCHAR(200) NOT NULL, 
court_address_2 VARCHAR(200), 
court_city VARCHAR(200) NOT NULL, 
court_state VARCHAR(100) NOT NULL, 
court_zip VARCHAR(10) NOT NULL, 
court_user_name VARCHAR(320), 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE attorneys (
attorney_id INT PRIMARY KEY AUTO_INCREMENT, 
attorney_first_name VARCHAR(200) NOT NULL, 
attorney_last_name VARCHAR(200) NOT NULL, 
attorney_address_1 VARCHAR(200) NOT NULL, 
attorney_address_2 VARCHAR(200), 
attorney_city VARCHAR(200) NOT NULL, 
attorney_state VARCHAR(100) NOT NULL, 
attorney_zip VARCHAR(10) NOT NULL, 
attorney_phone VARCHAR(15), 
attorney_fax VARCHAR(15), 
attorney_email VARCHAR(320), 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE judges (
judge_id INT PRIMARY KEY AUTO_INCREMENT, 
judge_prefix VARCHAR(100), 
judge_first_name VARCHAR(200) NOT NULL, 
judge_last_name VARCHAR(200) NOT NULL, 
judge_suffix VARCHAR(100), 
judge_address_1 VARCHAR(200) NOT NULL, 
judge_address_2 VARCHAR(200), 
judge_city VARCHAR(200) NOT NULL, 
judge_state VARCHAR(100) NOT NULL, 
judge_zip VARCHAR(10) NOT NULL, 
judge_user_name VARCHAR(320), 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE test_panels (
test_panel_id INT PRIMARY KEY AUTO_INCREMENT, 
test_panel_name VARCHAR(200) NOT NULL, 
test_panel_description VARCHAR(200), 
test_category_id INT NOT NULL REFERENCES test_categories(test_category_id), 
cost DOUBLE NOT NULL, 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE test_panel_drug_names (
test_panel_drug_names_id INT PRIMARY KEY AUTO_INCREMENT, 
test_panel_id INT NOT NULL REFERENCES test_panels(test_panel_id), 
drug_name_id INT NOT NULL REFERENCES drug_names(drug_name_id), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE vendor_services (
vendor_service_id INT PRIMARY KEY AUTO_INCREMENT, 
vendor_service_name VARCHAR(200) NOT NULL, 
cost DOUBLE NOT NULL, 
test_category_id INT, 
is_observed INT, 
form_type_id INT, 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE testing_authority (
testing_authority_id INT PRIMARY KEY AUTO_INCREMENT, 
testing_authority_name VARCHAR(200) NOT NULL, 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 

CREATE TABLE auth_rule_categories (
auth_rule_category_id INT PRIMARY KEY, 
auth_rule_category_name VARCHAR(200) NOT NULL, 
internal_name VARCHAR(200) NOT NULL, 
parent_auth_rule_category_id INT REFERENCES auth_rule_categories(auth_rule_category_id), 
is_active BIT NOT NULL DEFAULT TRUE, 
user_type INT NOT NULL, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE auth_rules (
auth_rule_id INT PRIMARY KEY, 
auth_rule_name VARCHAR(200) NOT NULL, 
internal_name VARCHAR(200) NOT NULL, 
parent_auth_rule_id INT REFERENCES auth_rules(auth_rule_id), 
is_active BIT NOT NULL DEFAULT TRUE, 
auth_rule_category_id INT NOT NULL REFERENCES auth_rule_categories(auth_rule_category_id), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE users (
user_id INT PRIMARY KEY AUTO_INCREMENT, 
user_name VARCHAR(320) NOT NULL, 
user_password VARCHAR(2000) NOT NULL, 
is_user_active BIT NOT NULL DEFAULT TRUE, 
user_first_name VARCHAR(200) NOT NULL, 
user_last_name VARCHAR(200), 
user_phone_number VARCHAR(15), 
user_fax VARCHAR(15), 
user_email VARCHAR(320), 
change_password_required BIT NOT NULL DEFAULT FALSE, 
user_type INT NOT NULL, 
department_id INT, 
donor_id INT, 
client_id INT, 
vendor_id INT, 
court_id INT, 
attorney_id INT, 
judge_id INT, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE user_departments (
user_department_id INT PRIMARY KEY AUTO_INCREMENT, 
user_id INT NOT NULL REFERENCES users(user_id), 
client_department_id INT NOT NULL REFERENCES client_departments(client_department_id), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE user_auth_rules (
user_auth_rule_id INT PRIMARY KEY AUTO_INCREMENT, 
user_id INT NOT NULL REFERENCES users(user_id), 
auth_rule_id INT NOT NULL REFERENCES auth_rules(auth_rule_id), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 

CREATE TABLE clients (
client_id INT PRIMARY KEY AUTO_INCREMENT, 
client_name VARCHAR(255) NOT NULL, 
client_division VARCHAR(200), 
client_type_id INT NOT NULL, 
laboratory_vendor_id INT NOT NULL REFERENCES vendors(vendor_id), 
mro_vendor_id INT NOT NULL REFERENCES vendors(vendor_id), 
mro_type_id INT NOT NULL, 
is_mailing_address_physical BIT NOT NULL DEFAULT FALSE, 
is_client_active BIT NOT NULL DEFAULT TRUE, 
sales_representative_id INT REFERENCES users(user_id), 
sales_comissions DOUBLE, 
client_code VARCHAR(30), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE client_contacts (
client_contact_id INT PRIMARY KEY AUTO_INCREMENT, 
client_department_id INT NULL REFERENCES client_departments(client_department_id), 
client_contact_first_name VARCHAR(200) NOT NULL, 
client_contact_last_name VARCHAR(200) NOT NULL, 
client_contact_phone VARCHAR(15) DEFAULT FALSE, 
client_contact_fax VARCHAR(15) DEFAULT TRUE, 
client_contact_email VARCHAR(320), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL,
client_id  INT NULL  REFERENCES clients(client_id) 
) ENGINE=INNODB; 


CREATE TABLE client_addresses (
client_address_id INT PRIMARY KEY AUTO_INCREMENT, 
client_department_id INT NULL REFERENCES client_departments(client_department_id), 
address_type_id INT NOT NULL, 
client_address_1 VARCHAR(255) NOT NULL, 
client_address_2 VARCHAR(255), 
client_city VARCHAR(255) NOT NULL, 
client_state VARCHAR(100) NOT NULL, 
client_zip VARCHAR(10) NOT NULL, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL,
client_id  INT NULL  REFERENCES clients(client_id) 
) ENGINE=INNODB; 


CREATE TABLE client_departments (
client_department_id INT PRIMARY KEY AUTO_INCREMENT, 
client_id INT NOT NULL REFERENCES clients(client_id), 
department_name VARCHAR(200) NOT NULL, 
mro_type_id INT NOT NULL, 
payment_type_id INT NOT NULL, 
is_department_active BIT NOT NULL DEFAULT TRUE, 
is_mailing_address_physical BIT NOT NULL DEFAULT FALSE, 
sales_representative_id INT REFERENCES users(user_id), 
sales_comissions DOUBLE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL,
is_contact_info_as_client BIT NOT NULL DEFAULT FALSE
) ENGINE=INNODB; 


CREATE TABLE client_dept_test_categories (
client_dept_test_category_id INT PRIMARY KEY AUTO_INCREMENT, 
client_department_id INT NOT NULL REFERENCES client_departments(client_department_id), 
test_category_id INT NOT NULL REFERENCES test_categories(test_category_id), 
display_order INT NOT NULL, 
test_panel_price DOUBLE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 



CREATE TABLE client_dept_test_panels (
client_dept_test_panel_id INT PRIMARY KEY AUTO_INCREMENT, 
client_dept_test_category_id INT NOT NULL REFERENCES client_dept_test_categories(client_dept_test_category_id), 
test_panel_id INT NOT NULL REFERENCES test_panels(test_panel_id), 
test_panel_price DOUBLE NOT NULL, 
display_order INT NOT NULL, 
is_main_test_panel BIT NOT NULL DEFAULT FALSE, 
is_1_test_panel BIT NOT NULL DEFAULT FALSE, 
is_2_test_panel BIT NOT NULL DEFAULT FALSE, 
is_3_test_panel BIT NOT NULL DEFAULT FALSE, 
is_4_test_panel BIT NOT NULL DEFAULT FALSE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 

CREATE TABLE vendors (
vendor_id INT PRIMARY KEY AUTO_INCREMENT, 
vendor_type_id INT NOT NULL, 
vendor_name VARCHAR(255) NOT NULL, 
main_contact VARCHAR(200) NOT NULL, 
vendor_phone VARCHAR(15), 
vendor_fax VARCHAR(15), 
vendor_email VARCHAR(320), 
vendor_status INT NOT NULL, 
inactive_date DATETIME, 
inactive_reason VARCHAR(2000), 
is_mailing_address_physical1 BIT NOT NULL DEFAULT FALSE, 
mpos_mro_cost DOUBLE, 
mall_mro_cost DOUBLE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE vendor_vendor_services (
vendor_service_mapping_id INT PRIMARY KEY AUTO_INCREMENT, 
vendor_id INT NOT NULL REFERENCES vendors(vendor_id), 
vendor_service_id INT NOT NULL REFERENCES vendor_services(vendor_service_id), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE vendor_addresses (
vendor_address_id INT PRIMARY KEY AUTO_INCREMENT, 
vendor_id INT NOT NULL REFERENCES vendors(vendor_id), 
address_type_id INT NOT NULL, 
vendor_address_1 VARCHAR(255) NOT NULL, 
vendor_address_2 VARCHAR(255), 
vendor_city VARCHAR(255) NOT NULL, 
vendor_state VARCHAR(100) NOT NULL, 
vendor_zip VARCHAR(10) NOT NULL, 
vendor_phone VARCHAR(15), 
vendor_fax VARCHAR(15), 
vendor_email VARCHAR(320), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 

CREATE TABLE donors (
donor_id INT PRIMARY KEY AUTO_INCREMENT, 
donor_first_name VARCHAR(200) NOT NULL, 
donor_mi VARCHAR(50), 
donor_last_name VARCHAR(200) NOT NULL, 
donor_suffix VARCHAR(10), 
donor_ssn VARCHAR(11), 
donor_date_of_birth DATE, 
donor_phone_1 VARCHAR(15), 
donor_phone_2 VARCHAR(15), 
donor_address_1 VARCHAR(200), 
donor_address_2 VARCHAR(200), 
donor_city VARCHAR(200), 
donor_state VARCHAR(100), 
donor_zip VARCHAR(10), 
donor_email VARCHAR(320) NOT NULL, 
donor_gender CHAR(1), 
donor_initial_client_id INT REFERENCES clients(client_id), 
donor_initial_department_id INT REFERENCES client_departments(client_department_id), 
donor_registration_status INT, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE donor_test_info (
donor_test_info_id INT PRIMARY KEY AUTO_INCREMENT, 
donor_id INT NOT NULL REFERENCES donors(donor_id), 
client_id INT NOT NULL REFERENCES clients(client_id), 
client_department_id INT NOT NULL REFERENCES client_departments(client_department_id), 
mro_type_id INT NOT NULL, 
payment_type_id INT NOT NULL, 
test_requested_date TIMESTAMP NOT NULL, 
test_requested_by INT NOT NULL REFERENCES users(user_id), 
is_ua BIT NOT NULL DEFAULT FALSE, 
is_hair BIT NOT NULL DEFAULT FALSE, 
is_dna BIT NOT NULL DEFAULT FALSE, 
reason_for_test_id INT, 
other_reason VARCHAR(1000), 
is_temperature_in_range INT, 
temperature_of_specimen DOUBLE, 
testing_authority_id INT REFERENCES testing_authority(testing_authority_id), 
specimen_collection_cup_id INT, 
is_observed INT, 
form_type_id INT, 
is_adulteration_sign INT, 
is_quantity_sufficient INT, 
collection_site_vendor_id INT REFERENCES vendors(vendor_id), 
collection_site_location_id INT REFERENCES vendor_addresses(vendor_address_id), 
collection_site_user_id INT REFERENCES users(user_id), 
screening_time DATETIME, 
is_donor_refused BIT, 
collection_site_remarks VARCHAR(5000), 
laboratory_vendor_id INT REFERENCES vendors(vendor_id), 
mro_vendor_id INT REFERENCES vendors(vendor_id), 
test_overall_result INT, 
test_status INT NOT NULL, 
program_type_id INT, 
is_surscan_determines_dates BIT, 
is_tp_determines_dates BIT, 
program_start_date DATE, 
program_end_date DATE, 
case_number VARCHAR(200), 
court_id INT REFERENCES courts(court_id), 
judge_id INT REFERENCES judges(judge_id), 
special_notes VARCHAR(5000), 
total_payment_amount DOUBLE, 
payment_date DATETIME, 
payment_method_id INT, 
payment_note VARCHAR(5000), 
payment_status INT, 
laboratory_cost DOUBLE, 
mro_cost DOUBLE, 
cup_cost DOUBLE, 
shipping_cost DOUBLE, 
vendor_cost DOUBLE, 
collection_site_1_id INT REFERENCES vendors(vendor_id), 
collection_site_2_id INT REFERENCES vendors(vendor_id), 
collection_site_3_id INT REFERENCES vendors(vendor_id), 
collection_site_4_id INT REFERENCES vendors(vendor_id), 
schedule_date DATETIME, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE donor_test_info_test_categories (
donor_test_test_category_id INT PRIMARY KEY AUTO_INCREMENT, 
donor_test_info_id INT NOT NULL REFERENCES donor_test_info(donor_test_info_id), 
test_category_id INT NOT NULL REFERENCES test_categories(test_category_id), 
test_panel_id INT REFERENCES test_panels(test_panel_id), 
specimen_id VARCHAR(200), 
hair_test_panel_days INT, 
test_panel_result INT, 
test_panel_status INT, 
test_panel_cost DOUBLE, 
test_panel_price DOUBLE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE donor_third_parties (
third_party_id INT PRIMARY KEY AUTO_INCREMENT, 
donor_id INT NOT NULL REFERENCES donors(donor_id), 
third_party_first_name VARCHAR(200) NOT NULL, 
third_party_last_name VARCHAR(200) NOT NULL, 
third_party_address_1 VARCHAR(200) NOT NULL, 
third_party_address_2 VARCHAR(200), 
third_party_city VARCHAR(200) NOT NULL, 
third_party_state VARCHAR(100) NOT NULL, 
third_party_zip VARCHAR(10) NOT NULL, 
third_party_phone VARCHAR(15), 
third_party_fax VARCHAR(15), 
third_party_email VARCHAR(320), 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE donor_test_activity (
donor_test_activity_id INT PRIMARY KEY AUTO_INCREMENT, 
donor_test_info_id INT NOT NULL REFERENCES donor_test_info(donor_test_info_id), 
activity_datetime TIMESTAMP NOT NULL, 
activity_user_id INT NOT NULL REFERENCES users(user_id), 
activity_category_id INT NOT NULL, 
is_activity_visible BIT NOT NULL, 
activity_note VARCHAR(2000) NOT NULL, 
is_synchronized BIT NOT NULL DEFAULT FALSE
) ENGINE=INNODB; 


CREATE TABLE donor_documents (
donor_document_id INT PRIMARY KEY AUTO_INCREMENT, 
donor_id INT NOT NULL REFERENCES donors(donor_id), 
document_upload_time TIMESTAMP NOT NULL, 
document_title VARCHAR(200) NOT NULL, 
document_content LONGBLOB NOT NULL, 
source VARCHAR(200), 
uploaded_by VARCHAR(200) NOT NULL, 
file_name VARCHAR(200) NOT NULL, 
is_synchronized BIT NOT NULL DEFAULT FALSE
) ENGINE=INNODB; 


CREATE TABLE donor_test_info_attorneys (
donor_test_info_attorney_id INT PRIMARY KEY AUTO_INCREMENT, 
donor_test_info_id INT NOT NULL REFERENCES donor_test_info(donor_test_info_id), 
display_order INT NOT NULL, 
attorney_id VARCHAR(200) REFERENCES attorneys(attorney_id), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE donor_test_info_third_parties (
donor_test_info_3rd_party_id INT PRIMARY KEY AUTO_INCREMENT, 
donor_test_info_id INT NOT NULL REFERENCES donor_test_info(donor_test_info_id), 
display_order INT NOT NULL, 
third_party_id VARCHAR(200) REFERENCES donor_third_parties(third_party_id), 
is_active BIT NOT NULL DEFAULT TRUE, 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE donor_test_info_drug_list (
donor_test_info_drug_id INT PRIMARY KEY AUTO_INCREMENT, 
donor_test_test_category_id INT NOT NULL, 
test_panel_id INT NOT NULL REFERENCES test_panels(test_panel_id), 
drug_name_id INT NOT NULL REFERENCES test_panels(drug_names), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


ALTER TABLE users ADD CONSTRAINT fk_users_department_id FOREIGN KEY (department_id) REFERENCES departments(department_id);



ALTER TABLE users ADD CONSTRAINT fk_users_donor_id FOREIGN KEY (donor_id) REFERENCES donors(donor_id);



ALTER TABLE users ADD CONSTRAINT fk_users_client_id FOREIGN KEY (client_id) REFERENCES clients(client_id);



ALTER TABLE users ADD CONSTRAINT fk_users_vendor_id FOREIGN KEY (vendor_id) REFERENCES vendors(vendor_id);

ALTER TABLE users ADD CONSTRAINT fk_users_court_id FOREIGN KEY (court_id) REFERENCES courts(court_id);



ALTER TABLE users ADD CONSTRAINT fk_users_attorney_id FOREIGN KEY (attorney_id) REFERENCES attorneys(attorney_id);


ALTER TABLE users ADD CONSTRAINT fk_users_judge_id FOREIGN KEY (judge_id) REFERENCES judges(judge_id);

CREATE TABLE cost_master (
dna_test_panel_cost DOUBLE, 
cup_cost DOUBLE, 
shipping_cost DOUBLE
) ENGINE=INNODB; 

INSERT INTO cost_master VALUES(100,1,10);



INSERT INTO users (user_name, user_password, is_user_active, user_first_name, user_last_name, user_phone_number, user_fax, user_email, change_password_required,
user_type, department_id, donor_id, client_id, vendor_id, is_synchronized, is_archived, created_on, created_by, last_modified_on, last_modified_by) VALUES 
('admin', 'M1FAQElIxwo=', b'1', 'Admin', 'Super user', null, null, 'admin@surpath.com', b'0', 1, null, null, null, null, b'1', b'0', NOW(), 'SYSTEM', NOW(), 'SYSTEM');

INSERT INTO test_categories (test_category_name, internal_name, is_synchronized, is_archived, created_on, created_by, last_modified_on, last_modified_by) VALUES ('UA', 'TEST_CAT_UA', b'1', b'0', NOW(), 'SYSTEM', NOW(), 'SYSTEM');

INSERT INTO test_categories (test_category_name, internal_name, is_synchronized, is_archived, created_on, created_by, last_modified_on, last_modified_by) VALUES ('Hair', 'TEST_CAT_HAIR', b'1', b'0', NOW(), 'SYSTEM', NOW(), 'SYSTEM');

INSERT INTO test_categories (test_category_name, internal_name, is_synchronized, is_archived, created_on, created_by, last_modified_on, last_modified_by) VALUES ('DNA', 'TEST_CAT_DNA', b'1', b'0', NOW(), 'SYSTEM', NOW(), 'SYSTEM');


ALTER TABLE donor_test_info ADD COLUMN is_walkin_donor BIT(1) NULL DEFAULT b'0' AFTER last_modified_by;

ALTER TABLE donor_test_info ADD COLUMN is_instant_test BIT(1) NULL DEFAULT NULL AFTER is_walkin_donor;

ALTER TABLE donor_test_info ADD COLUMN instant_test_result INT(11) NULL DEFAULT NULL AFTER is_instant_test;

CREATE TABLE neareset_zip_code(
donor_zip VARCHAR(10) NOT NULL, 
nearest_vendor_zip VARCHAR(10) NOT NULL
) ENGINE=INNODB;

ALTER TABLE `drug_names` CHANGE COLUMN `unit_of_measurement` `ua_unit_of_measurement` VARCHAR(25) NULL , 


ADD COLUMN `hair_unit_of_measurement` VARCHAR(25) NULL AFTER `ua_unit_of_measurement`;


CREATE TABLE donor_grid_columns_header(
donor_grid_columns_header_id INT PRIMARY KEY AUTO_INCREMENT, 
donor_grid_columns_header_name VARCHAR(200) NULL, 
is_active BIT NOT NULL DEFAULT 1
);

INSERT INTO auth_rule_categories (auth_rule_category_id, auth_rule_category_name, internal_name, parent_auth_rule_category_id, is_active, user_type, is_synchronized, is_archived, created_on, created_by, last_modified_on, last_modified_by) VALUES (1, 'Dashboard', 'SS_DASHBOARD', null, b'1', 1, b'1', b'0', NOW(), 'SYSTEM', NOW(), 'SYSTEM');								
INSERT INTO auth_rule_categories (auth_rule_category_id, auth_rule_category_name, internal_name, parent_auth_rule_category_id, is_active, user_type, is_synchronized, is_archived, created_on, created_by, last_modified_on, last_modified_by) VALUES (2, 'Donor Tab', 'DONOR_TAB', null, b'1', 1, b'1', b'0', NOW(), 'SYSTEM', NOW(), 'SYSTEM');									
INSERT INTO auth_rule_categories (auth_rule_category_id, auth_rule_category_name, internal_name, parent_auth_rule_category_id, is_active, user_type, is_synchronized, is_archived, created_on, created_by, last_modified_on, last_modified_by) VALUES (3, 'Client Setup', 'CLIENT_SETUP', null, b'1', 1, b'1', b'0', NOW(), 'SYSTEM', NOW(), 'SYSTEM');								

																																
																																				
INSERT INTO auth_rules (auth_rule_id, auth_rule_name, internal_name, parent_auth_rule_id, is_active, auth_rule_category_id, is_synchronized, is_archived, created_on, created_by, last_modified_on, last_modified_by) VALUES (1, 'Can add drug names', 'DRUG_NAMES_ADD', null, b'1', 8, b'1', b'0', NOW(), 'SYSTEM', NOW(), 'SYSTEM');												
INSERT INTO auth_rules (auth_rule_id, auth_rule_name, internal_name, parent_auth_rule_id, is_active, auth_rule_category_id, is_synchronized, is_archived, created_on, created_by, last_modified_on, last_modified_by) VALUES (2, 'Can edit drug names', 'DRUG_NAMES_EDIT', null, b'1', 8, b'1', b'0', NOW(), 'SYSTEM', NOW(), 'SYSTEM');											
INSERT INTO auth_rules (auth_rule_id, auth_rule_name, internal_name, parent_auth_rule_id, is_active, auth_rule_category_id, is_synchronized, is_archived, created_on, created_by, last_modified_on, last_modified_by) VALUES (3, 'Can archive drug names', 'DRUG_NAMES_ARCHIVE', null, b'1', 8, b'1', b'0', NOW(), 'SYSTEM', NOW(), 'SYSTEM');										



INSERT INTO donor_grid_columns_header (donor_grid_columns_header_id, donor_grid_columns_header_name,  is_active) VALUES ("1", 'First Name',  b'0');
INSERT INTO donor_grid_columns_header (donor_grid_columns_header_id, donor_grid_columns_header_name,  is_active) VALUES ("2", 'Last Name',  b'0');
INSERT INTO donor_grid_columns_header (donor_grid_columns_header_id, donor_grid_columns_header_name,  is_active) VALUES ("3", 'SSN',  b'0');

CREATE TABLE report_info (
report_info_id INT PRIMARY KEY AUTO_INCREMENT, 
report_type INT NOT NULL, 
specimen_id VARCHAR(50), 
lab_sample_id VARCHAR(50), 
ssn_id VARCHAR(50), 
donor_last_name VARCHAR(200), 
donor_first_name VARCHAR(200), 
donor_mi VARCHAR(200), 
donor_dob VARCHAR(10), 
donor_gender VARCHAR(2), 
lab_report LONGBLOB, 
donor_test_info_id INT REFERENCES donor_test_info(donor_test_info_id), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
is_archived BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE obr_info (
obr_info_id INT PRIMARY KEY AUTO_INCREMENT, 
report_info_id INT NOT NULL REFERENCES report_info(report_info_id), 
transmited_order INT NOT NULL, 
collection_site_info VARCHAR(200), 
specimen_collection_date VARCHAR(10), 
specimen_received_date VARCHAR(10), 
crl_client_code VARCHAR(50), 
specimen_type VARCHAR(200), 
section_header VARCHAR(200), 
crl_transmit_date VARCHAR(10), 
service_section_id VARCHAR(200), 
order_status VARCHAR(50), 
reason_type VARCHAR(200), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 


CREATE TABLE obx_info (
obx_info_id INT PRIMARY KEY AUTO_INCREMENT, 
obr_info_id INT NOT NULL REFERENCES obr_info(obr_info_id), 
sequence INT NOT NULL, 
test_code VARCHAR(50), 
test_name VARCHAR(200), 
result VARCHAR(50), 
status VARCHAR(50), 
unit_of_measure VARCHAR(100), 
reference_range VARCHAR(100), 
order_status VARCHAR(100), 
is_synchronized BIT NOT NULL DEFAULT FALSE, 
created_on TIMESTAMP NOT NULL, 
created_by VARCHAR(200) NOT NULL, 
last_modified_on TIMESTAMP NOT NULL, 
last_modified_by VARCHAR(200) NOT NULL
) ENGINE=INNODB; 
																			

ALTER TABLE report_info ADD COLUMN report_status INT(11) NULL AFTER donor_test_info_id;

ALTER TABLE vendors 
CHANGE COLUMN `is_mailing_address_physical1` `is_mailing_address_physical1` INT(1) NOT NULL ;

ALTER TABLE donor_test_info
ADD COLUMN payment_received BIT(1) NULL DEFAULT b'0' AFTER instant_test_result;

AL

TER TABLE clients ADD COLUMN can_edit_test_category BIT(1) NULL DEFAULT b'0' AFTER last_modified_by;

ALTER TABLE `donor_test_activity` CHANGE COLUMN `activity_note` `activity_note` VARCHAR(6000) NOT NULL ;

	

CREATE TABLE mismatched_reports (

mismatched_report_id INT PRIMARY KEY AUTO_INCREMENT, 

report_info_id INT NOT NULL REFERENCES report_info(report_info_id), 

specimen_id VARCHAR(200), 

donor_full_name VARCHAR(200), 

client_code VARCHAR(200), 

date_of_test VARCHAR(200), 

ssn_id VARCHAR(200), 

donor_dob VARCHAR(200) DEFAULT FALSE, 

is_synchronized BIT NOT NULL DEFAULT FALSE, 

is_archived BIT NOT NULL DEFAULT FALSE, 

created_on TIMESTAMP NOT NULL, 

created_by VARCHAR(200) NOT NULL, 

last_modified_on TIMESTAMP NOT NULL, 

last_modified_by VARCHAR(200) NOT NULL

) ENGINE=INNODB; 

ALTER TABLE donor_test_info ADD is_reverse_entry BIT NULL DEFAULT FALSE;

ALTER TABLE report_info ADD(
final_report_id INT REFERENCES donor_documents(donor_document_id), 
lab_name VARCHAR(200), 
lab_code VARCHAR(200), 
lab_report_date VARCHAR(20), 
donor_driving_license VARCHAR(30), 
test_panel_code VARCHAR(200), 
test_panel_name VARCHAR(200), 
report_note VARCHAR(1000), 
tpa_code VARCHAR(200), 
region_code VARCHAR(200), 
client_code VARCHAR(200), 
deaprtment_code VARCHAR(200), 
donor_id INT REFERENCES donors(donor_id), 
client_id INT REFERENCES clients(client_id), 
client_department_id INT REFERENCES client_departments(client_department_id));

ALTER TABLE obr_info ADD(
collection_site_id VARCHAR(200), 
specimen_action_code VARCHAR(50), 
tpa_code VARCHAR(200), 
region_code VARCHAR(200), 
client_code VARCHAR(200), 
deaprtment_code VARCHAR(200), 
obr_note VARCHAR(1000));

ALTER TABLE obx_info ADD(value_type VARCHAR(50));

ALTER TABLE mismatched_reports ADD crl_client_code VARCHAR(50);

ALTER TABLE donors CHANGE COLUMN donor_email donor_email VARCHAR(320) NULL;

ALTER TABLE mismatched_reports CHANGE COLUMN date_of_test date_of_test VARCHAR(10) NULL;


ALTER TABLE `client_departments` ADD COLUMN `lab_code` VARCHAR(200) NOT NULL AFTER `department_name`;
