<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>

    <add key="ConnectionString" value="server=127.0.0.1;port=3310;Username=surpath;Password=z24XrByS1;database=surpathlive; convert zero datetime=True" />
    <!--<DevServer-->
    <!--<add key="ConnectionString" value="server=10.94.0.221;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->
    <!--<DevServer-->
    <!--<add key="ConnectionString" value="server=10.94.0.221;port=4040;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->
    <!--<add key="ConnectionString" value="server=10.94.0.221;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->

    <!--<DevServer-->

    <add key="Culture" value="en-US" />
    <add key="IsManualInteraction" value="true" />
    <add key="IsDonorReverseEntryWithTestInfo" value="true" />
    <add key="IsAutoMatchTestInfo" value="true" />
    <add key="IsTestInfoReverseEntry" value="true" />
    <add key="DaysToAutoMatch" value="600" />
    <!--this was originally 5 days  but this was duplicating records-->
    <add key="MissMatchedPdfPassword" value="$urscanPath" />
    <add key="MissMatchedReportsMail" value="jon@technowledgeable.com" />
    <add key="MissMatchedReportSubject" value="No matching Donor Specimen ID for report sent" />
    <add key="MailFormat" value="c:\SurPathReports\MailTemplates\" />
    <add key="ProductLogo" value="c:\Projects\SurPath\SurPath.Web\Images\logo.png" />
    
    <!-- EMail Setting-->
    <!--<network enableSsl="true" host="smtp.office365.com" port="587" userName="notify@surscan.com" password="rock@water30" />-->

    <!--<add key="FromAddress" value="surpathalert@gmail.com" />-->
    <add key="FromAddress" value="notify@surscan.com" />
    <add key="ToAddress" value="chris@inzi.com" />
    <!--<add key="UserID" value="surpathalert@gmail.com" />-->
    <add key="UserID" value="notify@surscan.com" />
    <!--<add key="Password" value="7MQBV3ky" />-->
    <add key="Password" value="rock@water30" />
    <!--<add key="ReplyTo" value="jon@technowledgeable.com, mike.kearl@gmail.com" />-->
    <add key="ReplyTo" value="notify@surscan.com" />
    <add key="SMTPPort" value="587" />
    <!--<add key="SMTPHost" value="smtp.gmail.com" />-->
    <add key="SMTPHost" value="smtp.office365.com" />
    <add key="EnableSSL" value="Yes" />
    <!-- End EMail Setting-->
    
    
    <add key="LabFTPHost" value="10.94.0.221" />
    <add key="LabFTPUsername" value="SURSFTP" />
    <add key="LabFTPPassword" value="Mb72qwTb" />
    <add key="LabFTPPort" value="22" />
    <add key="LabReportFTPPath" value="/home/SURSFTP/CRL" />
    <add key="LabReportFilePath" value="c:\APPREPORTS\SurPathReports\CRL" />

    <add key="QuestFTPHost" value="10.94.0.221" />
    <add key="QuestFTPUsername" value="quest" />
    <add key="QuestFTPPassword" value="Qu3st174!" />
    <add key="QuestFTPPort" value="22" />
    <add key="QuestReportFTPPath" value="/home/Quest/" />
    <add key="QuestReportFilePath" value="c:\APPREPORTS\SurPathReports\Quest" />

    <add key="MROFTPHost" value="10.94.0.221" />
    <add key="MROFTPUsername" value="SURSFTP1" />
    <add key="MROFTPPassword" value="CTvBEDkt" />
    <add key="MROFTPPort" value="22" />
    <add key="MROReportFTPInboundPath" value="/home/SURSFTP1/MRO/Inbound" />
    <add key="MROReportFileInboundPath" value="c:\APPREPORTS\SurPathReports\MRO\Inbound" />
    <add key="MROReportFTPOutboundPath" value="/home/SURSFTP1/MRO/Outbound" />
    <add key="MROReportFileOutboundPath" value="c:\APPREPORTS\SurPathReports\MRO\Outbound" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />


    <!--Backend Settings-->
    <add key="AllFilesFolder" value=".\AllFiles" />
    <add key="JsonParserMasks" value="PIDTypes.json" />
	  <!-- Document Folder-->
	  <add key="DocumentPath" value="C:\surpathdocs\" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>