@model inzibackend.Web.Areas.App.Models.Layout.UserTopMenuCardViewModel
@{
    Layout = null;
}

<card class="card p-l-2 user-top-menu-card">
    <span class="user-top-menu-card-name">sdfsdsdf</span>
    <span class="user-top-menu-card-email">sdfsdfds</span>
</card>
