@{
    ViewBag.Title = "SurScan - Account Activation";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}

@section PageScript
{
    <script type="text/javascript">
        $(function () {
            if ("@ViewBag.ServerErr" != "") {
                $("#divServerErr").show().find("div").html("@ViewBag.ServerErr");
            }

            $("#submit").click(function () {
                $("#txtOldPwd").attr('type', 'password');
                $("#txtNewPwd").attr('type', 'password');
                $("#txtConfirm").attr('type', 'password');

                $('#chkOldPwd').prop('checked', false);
                $('#chkNewPwd').prop('checked', false);
                $('#chkConfirm').prop('checked', false);

                if (IsRequired($("form input:password").map(function () { return this.id }).get().join(','))) {
                    if (!IsMatch("txtNewPwd", "txtConfirm")) {
                        $("#txtConfirm").next().show().html("Password doesn't match.<br>");
                        return false;
                    }

                    var password = $("#txtNewPwd").val();

                    if (!(password.length >= 6 && password.match(/([a-z])/) && password.match(/([A-Z])/) && password.match(/([!%&@@#$^*?_~])/))) {
                        $("#txtNewPwd").next().show().html("Password doesn't meet with security level.<br>");
                        return false;
                    }

                    var password = $("#txtConfirm").val();

                    if (!(password.length >= 6 && password.match(/([a-z])/) && password.match(/([A-Z])/) && password.match(/([!%&@@#$^*?_~])/))) {
                        $("#txtConfirm").next().show().html("Password doesn't meet with security level.<br>");
                        return false;
                    }

                    return true;
                }
                return false;
            });
        });

        $(document).ready(function () {
            $('#chkOldPwd').change(function () {
                if ($(this).is(":checked")) {
                    $("#txtOldPwd").attr('type', 'text');
                }
                else
                {
                    $("#txtOldPwd").attr('type', 'password');
                }
            });

            $('#chkNewPwd').change(function () {
                if ($(this).is(":checked")) {
                    $("#txtNewPwd").attr('type', 'text');
                }
                else {
                    $("#txtNewPwd").attr('type', 'password');
                }
            });

            $('#chkConfirm').change(function () {
                if ($(this).is(":checked")) {
                    $("#txtConfirm").attr('type', 'text');
                }
                else {
                    $("#txtConfirm").attr('type', 'password');
                }
            });
        });

    </script>
}

@{using (Html.BeginForm())
{
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div style="display:none" class="alert alert-danger" role="alert" id="divServerErr">
                <i class="fa fa-exclamation-triangle fa-1x"></i>@ViewBag.ServerErr
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Account Activation</div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    <h5 class="text-primary">Please enter the temporary password that has been sent to your email address. </h5>
                    <div class="row top-buffer"></div>
                    <label><sup>* </sup>Temporary Password </label>
                    <input type="password" name="oldPassword" class="form-control" id="txtOldPwd" data-errormsg="Temporary Password can not empty.<br>" placeholder="Enter your temporary password" autofocus />
                    <span class="alert-danger" style="display: none"></span>
                    <input type="checkbox" value="OldPwd" id="chkOldPwd" />
                    <label> View Password</label>
                    <div class="row top-buffer"></div>
                    <label><sup>* </sup>New Password </label>
                    <input type="password" id="txtNewPwd" name="newPassword" class="form-control" placeholder="Enter your new password" data-errormsg="New Password can not empty.<br>" />
                    <span class="alert-danger" style="display: none"></span>
                    <input type="checkbox" value="NewPwd" id="chkNewPwd" />
                    <label> View Password</label>                    
                    <div class="col-sm-12">
                        <h5 class="text-primary text-left"><i class="fa fa-check-circle fa-1x"></i>Password must contain (<span class="text-danger help_text"> at least 6 characters, including: 1 Uppercase, 1 Lowercase, 1 Special character</span>)</h5>
                    </div>
                    <div class="col-sm-12">
                        <h5 class="text-primary text-left"><i class="fa fa-check-circle fa-1x"></i> Characters Allowed ( <span class="text-danger help_text">A-Z,  a-z,  0-9,  !%&@@#$^*?_~  </span>)</h5>
                    </div>
                    <div class="row top-buffer"></div>
                    <label><sup>* </sup>Re-Enter New Password </label>
                    <input type="password" class="form-control" id="txtConfirm" placeholder="Re-Enter your new password" data-errormsg="Re-Enter New Password can not empty.<br>" />
                    <span class="alert-danger" style="display: none">Client code doesn't match</span>
                    <input type="checkbox" value="Confirm" id="chkConfirm" />
                    <label> View Password</label>
                    <div class="row top-buffer"></div>
                    <div class="col-sm-4 col-centered">
                        <!-- Button -->
                            <input type="submit" id="submit" value="Submit" class="btn btn-primary">
                  
                    </div>
                </div>
            </div>
        </div>
        <div style="display:none">
            <input type="hidden" value="@ViewBag.DonorID" name="donorId" />
        </div>
    </div>
    <div class="row top-buffer"></div>
    <div class="row top-buffer"></div>
}}