@{
    ViewBag.Title = "ProgramConfirmation";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}

@section PageScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            function disableBack() { window.history.forward() }

            window.onload = disableBack();
            window.onpageshow = function (evt) { if (evt.persisted) disableBack() }
        });
        $(function () {
            if ("@ViewBag.ServerErr" != "") {
                $("#divServerErr").show().find("div").html("@ViewBag.ServerErr");
            }

            $("#btnGoToDashboard").click(function () {
                window.location.href = "@Url.Action("Signout", "Authentication")";
            });
        });
    </script>
}

@{using (Html.BeginForm())
{
    <div class="container">
        <div style="display:none" class="alert alert-danger" role="alert" id="divServerErr">
            <i class="fa fa-exclamation-triangle fa-1x"></i> @ViewBag.ServerErr
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:100px;">
                <h2 align="center" class="text-info">
                    Registration Complete! <br>
                    You have done all you are required to do at this time.
                </h2>
            </div>
        </div>
        <div class="row top-buffer"></div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5" style="text-align:center;">
                <input type="button" class="btn btn-primary" value="Go to Dashboard" id="btnGoToDashboard"/>
            </div>
        </div>
    </div>
    <div class="row top-buffer"></div>
    <div class="row top-buffer"></div>
}
}

