<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Surpath.Clearstar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BoID" value="763" />
    <add key="UseTestGateway" value="True" />
    <add key="ProdLoginName" value="jonjackson" />
    <add key="ProdPassword" value="Password01!" />
    <add key="TestLoginName" value="jonjackson" />
    <add key="TestPassword" value="PjsDot94!" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <applicationSettings>
    <Surpath.Clearstar.Properties.Settings>
      <setting name="Surpath_Clearstar_CS_Customer_Customer" serializeAs="String">
        <value>https://Gateway.clearstar.net/CSGWCustomer/Customer.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_Document_Document" serializeAs="String">
        <value>https://gateway.clearstar.net/csgwDocument/Document.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_Invoice_Invoice" serializeAs="String">
        <value>https://gateway.clearstar.net/csgwInvoice/Invoice.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_Lookup_LookUp" serializeAs="String">
        <value>https://gateway.clearstar.net/csgwLookup/Lookup.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_net_clearstar_gateway_Macro" serializeAs="String">
        <value>https://gateway.clearstar.net/csgwMacro/Macro.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_MFA_MFA" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWMFA/MFA.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_Order_Order" serializeAs="String">
        <value>https://gateway.clearstar.net/csgworder/order.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_PostMaster_PostMaster" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWPostMaster/PostMaster.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_Service_Service" serializeAs="String">
        <value>https://gateway.clearstar.net/csgwservice/service.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_Streamline_Streamline" serializeAs="String">
        <value>https://gateway.clearstar.net/csgwStreamline/Streamline.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_Supplier_Supplier" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWSupplier/Supplier.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_User_User" serializeAs="String">
        <value>https://gateway.clearstar.net/csgwUser/User.asmx</value>
      </setting>
      <setting name="Surpath_Clearstar_CS_Profile_Profile" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWProfile/Profile.asmx</value>
      </setting>
    </Surpath.Clearstar.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>