<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="SurpathKey" value="44af9269-d320-11eb-b1e0-7c4c58ced981" />
    <add key="SurpathAPIURL" value="https://stage.surpath.com/api/Integration" />
    <!--<add key="SurpathAPIURL" value="http://localhost:1481/api/Integration" />-->
    <add key="AllowHttp" value="true" />
    <add key="ValidateOnStartup" value="true" />
    <add key="partner_donor_id" value="myid2" />
  </appSettings>
</configuration>
