@using inzibackend.Authorization
@using inzibackend.Web.Areas.App.Startup
@using inzibackend.Web.Areas.App.Models.CohortUsers
@using inzibackend.Features
@using inzibackend.Web.Session
@using Abp.MultiTenancy


<div class="content d-flex flex-row">
    <div class="content d-flex flex-column flex-column-fluid">
    </div>
</div>