<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SurpathBackend.Properties.Settings" type="System.Configuration.AppSettingsSection" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="PDFEngine">
      <section name="PDFEngineSettings" type="System.Configuration.AppSettingsSection" />
    </sectionGroup>
    <!--<section name="PDFEngineSettings" type="System.Configuration.AppSettingsSection" />-->
  </configSections>
  <appSettings>
    <!--Development Server-->
    <!--<add key="ConnectionString" value="server=10.94.0.221;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->
    <!--Local Development Server-->
    <add key="ConnectionString" value="server=127.0.0.1;port=3310;Username=surpath;Password=z24XrByS1;database=surpathlive; convert zero datetime=True" />
    <!--Development Server with Monitoring-->
    <!--<add key="ConnectionString" value="server=10.94.0.221;port=4040;Username=surpath;Password=z24XrByS1;database=SurPathlive" />-->
    <!--Production Server-->
    <!--<add key="ConnectionString" value="server=10.94.0.220;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Culture" value="en-US" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpFromAddress" value="surpathalert@gmail.com" />
    <add key="SmtpFromAddressPassword" value="7MQBV3ky" />
    <add key="XSLTPath" value="C:\xslt\" />
    <add key="MailerHeaderLogo" value="http://surscan.com/images/SurScan-Logo.png" />
    <add key="MailerHeaderLogoBC" value="http://surscan.com/images/SurBackgroundScreenLogo.jpg" />
    <!-- Registration & Forgot Password Mailer - Begins -->
    <add key="ActivationLink" value="http://localhost:49543/Authentication/Activation/" />
    <add key="RegistrationMailSubject" value="SurScan Registration Details" />
    <add key="ForgotPasswordMailSubject" value="SurScan - New Password" />
    <add key="PaymentConfirmationMailSubject" value="SurScan - Payment Confirmation" />
    <!-- Registration & Forgot Password Mailer - Ends -->
    <!-- Program Registration - Begins -->
    <add key="ProgramRegistraionMailSubject" value="SurScan - New Program Registered" />
    <add key="TPAProgramToMailAddress" value="surpathalert@gmail.com" />
    <add key="PaymentConfirmationMailSubject" value="SurScan - Payment Confirmation" />
    <!-- Program Registration - End -->
    <!-- Super Admin Roles - Begins -->
    <add key="SuperAdmin" value="admin" />
    <add key="SuperAdmin1" value="David" />
    <add key="SuperAdmin2" value="Tim" />
    <!-- Super Admin Roles - End -->
    <add key="BoID" value="763" />
    <add key="UseTestGateway" value="True" />
    <add key="ProdLoginName" value="jonjackson" />
    <add key="ProdPassword" value="%LCFr@4VMLr5nP4-ve6UQ4-5d%6" />
    <add key="TestLoginName" value="jonjackson" />
    <add key="TestPassword" value="%LCFr@4VMLr5nP4-ve6UQ4-5d%6" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Production" value="false" />
    <add key="TestEmailAddress" value="chris@inzi.com" />
    <add key="TestPhone" value="2148019441" />
    <add key="SMSNotifications" value="true" />


    <add key="LabFTPHost" value="127.0.0.1" />
    <add key="LabFTPUsername" value="SURSFTP" />
    <add key="LabFTPPassword" value="Mb72qwTb" />
    <add key="LabFTPPort" value="22" />
    <add key="LabReportFTPPath" value="/home/SURSFTP/CRL" />
    <add key="LabReportFilePath" value="C:\SurPathReports\SurPathReports\CRL\" />

    <add key="questFTPHost" value="127.0.0.1" />
    <add key="questFTPUsername" value="quest" />
    <add key="questFTPPassword" value="Qu3st174!" />
    <add key="questFTPPort" value="22" />
    <add key="questReportFTPPath" value="/home/quest" />
    <add key="questReportFilePath" value="C:\SurPathReports\SurPathReports\quest\" />

    <add key="MROFTPHost" value="127.0.0.1" />
    <add key="MROFTPUsername" value="SURSFTP1" />
    <add key="MROFTPPassword" value="CTvBEDkt" />
    <add key="MROFTPPort" value="22" />
    <add key="MROReportFTPInboundPath" value="/home/SURSFTP1/MRO/Inbound" />
    <add key="MROReportFTPOutboundPath" value="/home/SURSFTP1/MRO/Outbound" />
    <add key="MROReportFileInboundPath" value="C:\SurPathReports\SurPathReports\MRO\Inbound\" />
    <add key="MROReportFileOutboundPath" value="C:\SurPathReports\SurPathReports\MRO\Outbound\" />


    <!--FormFox-->
    <add key="FormFoxEnabled" value="true" />
    <add key="FormFoxEnabledDeptIDs" value="372" />
    <add key="FormFoxPriceTiers" value="platinum,gold plus, gold" />
    <add key="FormFoxServices" value="NDOTU" />
    <add key="FormFoxRadius" value="30" />
    <add key="FormFoxUrl" value="https://stage.formfox.com/api/" />
    <add key="FormFoxRequestAuthorizationUrl" value="https://stage.formfox.com/FFOrderSvc/FFOrderSvc.asmx" />
    <add key="FormFoxUsername" value="SurScan" />
    <add key="FormFoxPassword" value="9EwreV69uz" />
    <add key="FormFoxUsernameAlt" value="SurScan" />
    <add key="FormFoxPasswordAlt" value="9EwreV69uz" />
    <add key="FormFoxPDFFolder" value="C:\SurPathReports\SurPathReports\FormFox\" />
    <add key="FormFoxDumpFolder" value="C:\SurPathReports\SurPathReports\FormFoxDump\" />
    <add key="FormFoxSendingFacility" value="SURSCAN" />
    <add key="FormFoxSendingFacilityID" value="262" />
    <add key="FormFoxCreateOrderUrl" value="https://stage.formfox.com/FFOrderSvc/v2/FFOrderSvc.asmx" />
    <add key="FormFoxTestLocation" value="FF00095379" />
    <add key="FormFoxTestLabCode" value="0VN.MPOS.TEST.SFTP" />
    <add key="ClientReferenceID" value="FFQA" />
    <add key="FormFoxSendAddressOnCreateOrder" value="true" />
    <add key="FormFoxAutoFallbackToDatabase" value="true" />
    <!--FormFoxASAPHoursDeadline: if less than 1, this disables added a deadline to the order -->
    <add key="FormFoxASAPHoursDeadline" value="" />
    <!--FormFoxAuthAccounts must be base64 utf8 encoded pairs, separated by ; -->
    <add key="FormFoxAuthAccounts" value="Zm9ybWZveA==,U3VyNjkyJFNjYW4=;U3VyU2Nhbg==,OUV3cmVWNjl1eg==" />
    <add key="FormFoxRetryCount" value="3" />
    <add key="FormFoxRetrySleepInMs" value="250" />
    <add key="FormFoxValidAuthFormSearchString" value="Plan your visit" />
    <!-- If PDF auth form doesn't contain this, consider it an invalid auth form-->
    <!--FormFoxCancelOrderOnFailure: for the future, when we have a way to cancel orders if the PDF is bad or something else -->
    <add key="FormFoxCancelOrderOnFailure" value="false" />
    <add key="FormFoxSleepAfterOrderAuthFormSleepInSecs" value="5" />
    <add key="FormFoxLabExcludedTerms" value="concentra" />

    <!--End FormFox-->

    <!--Backend Settings-->
    <add key="AllFilesFolder" value="C:\AllFiles" />
    <add key="StageFilesFolder" value="C:\Dev\Surpath\HL7ParserService\StageFilesFolder" />
    <add key="JsonParserMasks" value="PIDTypes.json" />
	  <!-- Document Folder-->
	  <add key="DocumentPath" value="C:\surpathdocs\" />
  </appSettings>
  <PDFEngine>
    <PDFEngineSettings>
      <add key="PDFTemplateFolder" value=".\Templates" />
      <add key="DefaultTemplate" value="Drug Screen Notificaiton Letter - Template.pdf" />
      <add key="PDFConfigFolder" value=".\PDFConfig" />
      <add key="DefaultRenderSettingsFile" value="Default Render Settings.json" />
      <add key="BCC" value="" />
      <add key="SendAllTo" value="" />
      <add key="MaxResults" value="3" />
      <add key="TopOfList" value="300" />
      <add key="LeftOfList" value="75" />
      <add key="MaxListHeight" value="400" />
      <add key="MaxListWidth" value="450" />
      <add key="FontName" value="Ariel" />
      <add key="FontSize" value="12" />
      <add key="DrawBox" value="false" />
      <add key="BoxPadding" value="10" />
      <add key="MROName" value="RANDY BARNETT DO" />
      <add key="JSON_PDF_Services_To_Test_Mapping" value="{&quot;UA&quot;:&quot;UA Drug Screening (Collection Only)&quot;}" />
    </PDFEngineSettings>
  </PDFEngine>
  <!--<PDFEngineSettings>
    <add key="PDFTemplateFolder" value=".\Templates" />
    <add key="DefaultTemplate" value="PDFTemplateTest1.pdf" />
    <add key="BCC" value="" />
    <add key="SendAllTo" value="" />
    <add key="MaxResults" value="3" />
    <add key="TopOfList" value="300" />
    <add key="LeftOfList" value="75" />
    <add key="MaxListHeight" value="400" />
    <add key="MaxListWidth" value="450" />
    <add key="FontName" value="Ariel" />
    <add key="FontSize" value="12" />
    <add key="DrawBox" value="false" />
    <add key="BoxPadding" value="10" />
    <add key="JSON_PDF_Services_To_Test_Mapping" value="{&quot;UA&quot;:&quot;UA Drug Screening (Collection Only)&quot;}" />
  </PDFEngineSettings>-->
  <applicationSettings>
    <SurpathBackend.Properties.Settings>
      <setting name="PDFTemplateFolder" serializeAs="String">
        <value>.\Template</value>
      </setting>
      <setting name="EnableSMS" serializeAs="String">
        <value>True</value>
      </setting>
    </SurpathBackend.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
