topbar,
top-bar-menu,
theme4-brand {
  display: flex;
}

.dropdown-language .dropdown-menu {
  width: 250px !important;
}

.dropdown-language .dropdown-menu li.kt-nav__item span,
.dropdown-language .dropdown-menu li.kt-nav__item i {
  display: block;
}

.clickable-item {
  cursor: pointer;
}

.btn + .btn {
  margin-left: 5px;
}

.btn-block + .btn-block {
  margin-left: 0px !important;
}

.kt-badge + .kt-badge {
  margin-left: 5px;
}

.form-control-feedback {
  color: #fd397a;
  margin-top: 0.2rem;
  font-size: 0.85rem;
  text-align: left;
}

li.nav-item a.nav-link span.kt-badge {
  font-size: 11px;
  margin-left: 4px;
}

.kt-notification.user-profile-menu .kt-notification__item:after {
  content: none !important;
}

.active-user-delegations:hover div,
.active-user-delegations:hover span {
  cursor: default !important;
}

.active-user-delegations:hover .kt-header__topbar-icon--brand {
  background-color: transparent !important;
}

.active-user-delegations .kt-header__topbar-icon--brand {
  width: 200px !important;
}

.active-user-delegations select {
  max-width: 120px;
}

html[dir="rtl"] .btn + .btn {
  margin-right: 5px;
}

html[dir="rtl"] .checkbox span,
html[dir="rtl"] .radio span {
  margin-left: 0.75rem !important;
}

.checkbox span,
.radio span {
  margin-right: 0.75rem !important;
}

@media print {
  #kt_header {
    display: none !important;
  }
}

.user-notification-item-clickable a {
  cursor: pointer;
}

.tooltip {
  position: absolute;
}

.tooltip-arrow {
  position: absolute;
}

/* AntD Components */
.ant-select.form-select {
  padding: 0;
  border: none;
  display: flex;

  .ant-select-selector {
    min-height: 43.56px !important;

    .ant-select-selection-wrap {
      min-height: 43.56px !important;
    }
  }

  .ant-select-arrow,
  .ant-select-clear {
    margin-top: -4px !important;
  }
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.app-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page {
  flex: 1;
  display: flex;
}

#kt_app_main {
  > .d-flex.flex-column.flex-column-fluid {
    flex: 1;
  }
}
