<?xml version="1.0" encoding="utf-8"?>
<!--SELECT donor_id AS DonorId, donor_first_name 
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SurpathBackend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="PDFEngine">
      <section name="PDFEngineSettings" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="SMSEngine">
      <section name="SMSEngineSettings" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--<connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MvcApplication1-20141116221920;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MvcApplication1-20141116221920.mdf" />
  </connectionStrings>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Development Server-->
    <!--<add key="ConnectionString" value="server=sql.surpath.com;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive"/>-->
    <!--<add key="ConnectionString" value="server=sql.surpath.com;port=4040;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->
    <!--Production Server-->
    <!--<add key="ConnectionString" value="server=10.94.0.220;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->
    <!--Local Development Server-->
    <add key="ConnectionString" value="server=127.0.0.1;port=3310;Username=surpath;Password=z24XrByS1;database=surpathlive; convert zero datetime=True" />
    <!--<add key="ConnectionString" value="server=10.94.0.220;port=3306;Username=surpath;Password=z24XrByS1;database=surpathlive; convert zero datetime=True" />-->
    <!--<add key="ConnectionString" value="server=localhost;port=4040;Username=surpath;Password=z24XrByS1;database=surpathlive" />-->
    <add key="Culture" value="en-US" />
    <add key="MvcMailer.BaseURL" value="http://localhost:49543/" />
    <add key="DonorRegistrationMailSubject" value="SurScan Registration Details" />
    <add key="DonorVerifyMailSubject" value="SurScan Email Verification" />
    <add key="OnlyActiveWithRecordKeeping" value="true" />
    <!-- Registration & Forgot Password Mailer - Begins -->
    <add key="ActivationLink" value="http://localhost:1481/Registration/Activation/" />
    <add key="ForceUniqueSSN" value="false" />
    <add key="RegistrationMailSubject" value="SurScan Registration Details" />
    <add key="ForgotPasswordMailSubject" value="SurScan - New Password" />
    <!-- Registration & Forgot Password Mailer - Ends -->
    <!-- Program Registration - Begins -->
    <add key="ProgramRegistraionMailSubject" value="SurScan - New Program Registered" />
    <add key="TPAProgramToMailAddress" value="notify@surscan.com" />
    <!-- Program Registration - End -->
    <add key="LabReportFilePath" value="C:\SurPathReports\SurPathReports\TextReports\" />
    <!-- Payment Authorize.NET - Begins -->
    <!--<add key="Payment.AuthLoginID" value="9e3sc47CbRQ" />
    <add key="Payment.AuthTransactionKey" value="3496PNybhg76fGJp" />  old development keys from former developer-->
    <add key="Payment.AuthLoginID" value="4K7pSs7Laew9" />
    <add key="Payment.AuthTransactionKey" value="664MK9Mgyz77VKH7" />
    <add key="Payment.TestMode" value="true" />
    <add key="PaymentConformationMailSubject" value="SurScan - Payment Confirmation" />
    <!--<add key="XSLTPath" value="C:\Source2\SurPath\XSLT\" />-->
    <add key="XSLTPath" value="C:\Dev\Techknowlegable\Surpath\Surpath\XSLT\" />
    <add key="ErrorDumpPath" value="C:\logs\" />
	
    <!--<add key="SmtpHost" value="smtp.gmail.com" />-->
    <add key="SmtpHost" value="smtp.office365.com" />
    <add key="SmtpPort" value="587" />
    <!--<add key="SmtpFromAddress" value="surpathalert@gmail.com" />-->
    <add key="SmtpFromAddress" value="notify@surscan.com" />
    <!--<add key="SmtpFromAddressPassword" value="7MQBV3ky" />-->
    <add key="SmtpFromAddressPassword" value="rock@water30" />
    <!--<network enableSsl="true" host="smtp.office365.com" port="587" userName="notify@surscan.com" password="rock@water30" />-->
    <add key="MailerHeaderLogo" value="https://gallery.mailchimp.com/e91a0088b8a88248a709d2dbb/images/d84fcfe6-77f8-400a-88ce-1fdc6349153b.png" />
    <add key="Payment.URL" value="https://test.authorize.net/gateway/transact.dll" />
    <!--<add key="Payment.URL" value="https://secure.authorize.net/gateway/transact.dll" />-->
    <!-- Payment Authorize.NET - End -->
    <!-- Comman - Begins -->
    <add key="MinAgeForViewResult" value="18" />
    <!-- Comman - End -->
    <!--ClearStar Background Check Credentials-->
    <add key="BoID" value="763" />
    <add key="UseTestGateway" value="True" />
    <add key="ProdLoginName" value="jonjackson" />
    <add key="ProdPassword" value="%LCFr@4VMLr5nP4-ve6UQ4-5d%6" />
    <add key="TestLoginName" value="jonjackson" />
    <add key="TestPassword" value="%LCFr@4VMLr5nP4-ve6UQ4-5d%6" />
    <add key="ClearStarReports" value="C:\SurPathReports\SurPathReports\ClearStar\" />
    <add key="DefaultSMSResponse" value="Thank you for your message. Please visit https://surpath.com for details" />
    <add key="Production" value="false" />
    <add key="Dev" value="true" />
    <add key="TestEmailAddress" value="chris@inzi.com" />
    <add key="SMSNotifications" value="true" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\surpath-web-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="serilog:minimum-level" value="Debug" />
    <!--End ClearStar-->
    <add key="DateFilterDelta" value="-15" />
    <!--FormFox-->
    <add key="FormFoxEnabled" value="true" />
    <add key="FormFoxEnabledDeptIDs" value="372" />
    <add key="FormFoxPriceTiers" value="platinum,gold plus, gold" />
    <add key="FormFoxServices" value="NDOTU" />
    <add key="FormFoxRadius" value="30" />
    <add key="FormFoxUrl" value="https://stage.formfox.com/api/" />
    <add key="FormFoxRequestAuthorizationUrl" value="https://stage.formfox.com/FFOrderSvc/FFOrderSvc.asmx" />
    <add key="FormFoxUsername" value="SurScan" />
    <add key="FormFoxPassword" value="9EwreV69uz" />
    <add key="FormFoxUsernameAlt" value="SurScan" />
    <add key="FormFoxPasswordAlt" value="9EwreV69uz" />
    <add key="FormFoxPDFFolder" value="C:\SurPathReports\SurPathReports\FormFox\" />
    <add key="FormFoxDumpFolder" value="C:\SurPathReports\SurPathReports\FormFoxDump\" />
    <add key="FormFoxSendingFacility" value="SURSCAN" />
    <add key="FormFoxSendingFacilityID" value="262" />
    <add key="FormFoxCreateOrderUrl" value="https://stage.formfox.com/FFOrderSvc/v2/FFOrderSvc.asmx" />
    <add key="FormFoxTestLocation" value="FF00095379" />
    <add key="FormFoxTestLabCode" value="0VN.MPOS.TEST.SFTP" />
    <add key="ClientReferenceID" value="FFQA" />
    <add key="FormFoxSendAddressOnCreateOrder" value="true" />
    <add key="FormFoxAutoFallbackToDatabase" value="true" />
    <add key="FormFoxASAPHoursDeadline" value="24" />
    <!--FormFoxAuthAccounts must be base64 utf8 encoded pairs, separated by ; -->
    <add key="FormFoxAuthAccounts" value="Zm9ybWZveA==,U3VyNjkyJFNjYW4=;U3VyU2Nhbg==,OUV3cmVWNjl1eg==" />
    <add key="FormFoxRetryCount" value="3" />
    <add key="FormFoxRetrySleepInMs" value="250" />
    <add key="FormFoxValidAuthFormSearchString" value="Plan your visit" />
    <!-- If PDF auth form doesn't contain this, consider it an invalid auth form-->
    <add key="FormFoxSleepAfterOrderAuthFormSleepInSecs" value="5" />
    <add key="FormFoxCancelOrderOnFailure" value="false" />
    <!--End FormFox-->
    <!--<add key="RouteDebugger:Enabled" value="true" />-->
    <add key="RouteDebugger:Enabled" value="true" />
    <add key="MvcMailer.BaseURL" value="" />
	  <!-- Document Folder-->
	  <add key="DocumentPath" value="C:\surpathdocs\" />
  </appSettings>
  <PDFEngine>
    <PDFEngineSettings>
      <add key="PDFTemplateFolder" value="C:\Dev\Techknowlegable\Surpath\Surpath.Backend\SurpathBackend\Templates\" />
      <add key="DefaultTemplate" value="Drug Screen Notificaiton Letter - Template.pdf" />
      <add key="PDFConfigFolder" value="C:\Dev\Techknowlegable\Surpath\Surpath.Backend\SurpathBackend\PDFConfig\" />
      <add key="DefaultRenderSettingsFile" value="Default Render Settings.json" />
      <add key="BCC" value="" />
      <add key="SendAllTo" value="" />
      <add key="MaxResults" value="3" />
      <add key="TopOfList" value="300" />
      <add key="LeftOfList" value="75" />
      <add key="MaxListHeight" value="400" />
      <add key="MaxListWidth" value="450" />
      <add key="FontName" value="Ariel" />
      <add key="FontSize" value="12" />
      <add key="DrawBox" value="false" />
      <add key="BoxPadding" value="10" />
      <add key="MROName" value="RANDY BARNETT DO" />
      <add key="JSON_PDF_Services_To_Test_Mapping" value="{&quot;UA&quot;:&quot;UA Drug Screening (Collection Only)&quot;}" />
    </PDFEngineSettings>
  </PDFEngine>
  <SMSEngine>
    <SMSEngineSettings>
      <add key="IgnoreUnknownSMSInbound" value="True" />
      <add key="UnknownSMSResponseText" value="For more information on SurPath, visit surpath.com!" />
    </SMSEngineSettings>
  </SMSEngine>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2048" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="GridMvc" />
      </namespaces>
    </pages>
    <httpModules>
      <!-- Uploader httpModule -->
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />
    </httpModules>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxAllowedContentLength="52428800" maxUrl="10999" />
        <!--50MB-->
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="CuteWebUI.UploadModule" />
      <!-- Uploader httpModule -->
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />
      <remove name="StackifyHttpModule_Net40" />
      <add name="StackifyHttpModule_Net40" type="StackifyHttpTracer.StackifyHttpModule,StackifyHttpTracer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=93c44ce23f2048dd" preCondition="managedHandler,runtimeVersionv4.0" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.12.0.0" newVersion="6.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <!-- Method#1: Configure smtp server credentials -->
      <!--<smtp from="notify@surscan.com">
        --><!--<network enableSsl="true" host="smtp.gmail.com" port="587" userName="surpathalert@gmail.com" password="7MQBV3ky" />--><!--
        <network enableSsl="true" host="smtp.office365.com" port="587" userName="notify@surscan.com" password="rock@water30" />
      </smtp>-->
      <smtp from="chris@inzi.com">
        <network enableSsl="true" host="smtp.office365.com" port="587" userName="chris@inzi.com" password="1.Lincoln.!" />
      </smtp>
      <!--
      <smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
      </smtp>
      -->
      <!--<smtp from="some-email@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="some-email@gmail.com" password="valid-password" />
      </smtp>-->
      <!-- Method#2: Dump emails to a local directory -->
      <!--
      <smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
      </smtp>
      -->
    </mailSettings>
  </system.net>
</configuration>